* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;

  background: #f4f7fa;
  color: #172033;

  font-family: Arial, sans-serif;
}

button,
input,
select,
textarea {
  font: inherit;
}